#criadores
{
    padding-top: 2%;
    text-align: center;
}
#foto
{  
    border-radius: 10%;
    max-width: 20%;
    padding-bottom: 1%;
}
#botoes
{
    padding-top: 3%;
    
}

#linkedin
{
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 15px 32px;
    text-decoration: none;
    margin-right: 10px;
}

#github
{
background-color: #0e76a8;
border: none;
color: white;
text-align: center;
font-size: 16px;
padding: 15px 32px;
text-decoration: none;
margin-left: 10px;
}

#nome
{
    color: white;
    padding-bottom: 2%;
    font-family: Nunito;
    font-size: 5vmin;
}

#funcao
{
    color:white;
    font-size: 3vmin;
    color: #6B6767;
    font-family: Nunito;
    padding-bottom: 1%;
}

#prev
{
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 15px 32px;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 70%;
}

#next
{
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 15px 32px;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 70%;
}
@media only screen and (max-width: 530px)
{
    .headerTxt
    {
        display: none;
    }
}

@media only screen and (max-width: 630px)
{
#botoes
{
    padding-top: 10%;
    
}
}


@media only screen and (max-width: 250)
{
    #linkedin
{
    background-color: #6e5494;
    border: none;
    color: white;
    text-align: center;
    font-size: 8px;
    padding: 0px 0px;
    text-decoration: none;
    margin-left: 10px;
}

#github
{
background-color: #0e76a8;
border: none;
color: white;
text-align: center;
font-size: 8px;
padding: 0px 0px;
text-decoration: none;
margin-left: 0px;
}
}