body{
    background-color: #242424;
}

.titulos{
    padding: 0;
    margin: 0;
}
.titulobranco{
    font-size: 5vmin;
    color: #FFFFFF;
    text-align: center;
    font-family: Nunito;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tituloroxo{
    font-size: 6vmin;
    font-family: Orbitron;
    color: #7115F2;
    text-align: center;
}
#OHW{
    font-size: 7vmin;
    text-align: center;
    font-family: Russo One;
    color: #EF7BDC;
    margin-top: 10px;
    margin-bottom: 20px;
}
#imagempcrazor{
    height: auto;
    width: 650px;
}
#titulodesign{
    padding-top: 10%;
    font-size: 5vmin;
    color: #FFFFFF;
    text-align: start;
    font-family: Nunito;
}
#descdesign{
    padding: 5px;
    font-size: 3vmin;
    color: #6B6767;
    font-family: Nunito;
}
.button{
    font-size: 20px;
    font-family:Nunito;
    padding: 10px 8px;
    width: 40%;
    color: #FFFFFF;
    background-color: #7115F2;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin-top: 15px;
}
.SS1{
    margin-bottom: 5%;
}
.ryzen{
    margin-bottom: 20%;
    box-shadow: 10px 10px 10px #FF3D00;
}
#tituloitem{
    font-size: 5vmin;
    color: #242424;
    font-family: Nunito;
    margin-top: 15px;
}
#descitem{
    font-size: 3vmin;
    color: #242424;
    font-family: Nunito;
    padding-bottom: 10px;
}

#tituloryzen{
    font-size: 5vmin;
    color: #d4d4d4;
    font-family: Nunito;
    margin-top: 15px;
}
#descryzen{
    font-size: 3vmin;
    color: #d4d4d4;
    font-family: Nunito;
    padding-bottom: 10px;
}

#nomeryzen{
    font-size: 5vmin;
    color: #FFFFFF;
    font-family: Nunito;
    padding-top: 10px;
    padding-bottom: 10px;
}
.conteudo3{
    margin-bottom: 50px;
    padding: 0;
}
.donosdaRazor{
    margin-top: 20px;
    width: 40%;
    height: auto;
    margin-bottom: 10%;
}

.foot{
    padding-top: 10px;
    border-top: #FFFFFF;
    border-width: 4px;
    border-style: solid;
}
.imagemfinal{
    width: 200px;
}

.footerdesign{
    padding: 5px;
    font-size: 1.5vmin;
    color: #6B6767;
    font-family: Nunito
}
.last{
    text-align: end;
}
#nomertx{
   color: #FFFFFF; 
   font-size: 5vmin;
   font-family: Nunito;
}

#rtx{
    width: 40%;
    height: auto;
    margin-bottom: 20%;
    box-shadow: 10px 10px 10px #1CB82C;
}
#ssd{
    width: 40%;
    height: auto;
    box-shadow: 10px 10px 18px #3500f7;
    margin-bottom: 30%;
}

.ss4{
    padding-top: 3%;
}
#nomeSSD{
    color: #FFFFFF; 
    font-size: 4vmin;
    font-family: Nunito;
}
#grad {
    background-image: linear-gradient(#242424, #c0bfbf);
  } 
  #invgrad {
    background-image: linear-gradient(#c0bfbf, #242424);
  } 

  
.logos{
    margin-bottom: 10%;

}