body{
    background-color: #242424;
}
#header{
    border-bottom: #FFFFFF;
    border-style: solid;
    position: 0;
}
#logorazor{
    padding: 0;
    height: auto;
    width: 250px;
}

nav{
    position: absolute;
    top: 150px;
    right: 0;
}
nav li{
    display:inline;
}
nav ul{
    display: flex;
    width: 100vw;
    justify-content: space-around;
}
nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
#titulobranco{
    font-size: 5vmin;
    color: #FFFFFF;
    text-align: center;
    font-family: Nunito;
    margin-top: 10px;
    margin-bottom: 10px;
}
#tituloroxo{
    font-size: 6vmin;
    font-family: Orbitron;
    color: #7115F2;
    text-align: center;
}
#OHW{
    font-size: 7vmin;
    text-align: center;
    font-family: Russo One;
    color: #EF7BDC;
    margin-top: 10px;
    margin-bottom: 20px;
}
#imagempcrazor{
    height: auto;
    width: 500px;
}
#titulodesign{
    padding-top: 10%;
    font-size: 5vmin;
    color: #FFFFFF;
    text-align: start;
    font-family: Nunito;
}
#descdesign{
    padding: 5px;
    font-size: 3vmin;
    color: #6B6767;
    font-family: Nunito;
}
.button{
    padding: 10px 8px;
    width: 40%;
    color: #FFFFFF;
    border-radius: 5%;
    background-color: #7115F2;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin-top: 15px;
}
.SS1{
margin: 0;
padding: 0;
border-bottom: #FFFFFF;
border-width: 5px;
border-style: solid;
}
.ryzen{
    padding-top: 20px;
    text-align: center;
}
#tituloryzen{
    font-size: 5vmin;
    color: #FFFFFF;
    font-family: Nunito;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 20%;
}
#descryzen{
    font-size: 3vmin;
    color: #6B6767;
    font-family: Nunito;
    padding-left: 20%;
}
#nomeryzen{
    font-size: 3vmin;
    color: #FF3D00;
    font-family: Nunito;
    padding-left: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.SS2{
    border-bottom: #FFFFFF;
border-width: 5px;
border-style: solid;
}
.conteudo3{
    margin-top: 50px;
    margin-bottom: 50px;
}
.donosdaRazor{
    margin-top: 20px;
    width: 700px;
    height: auto;
}

